html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

:focus {
    outline: 1px dotted #787771
}

body {
    color: #464646;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1.4
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption, th, td {
    font-weight: normal;
    text-align: left
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

html, body {
    height: 100%
}

body {
    background: #dddcda url('/media/images/StaticContent/global/backer-holiday.png') repeat-x 0 -30px;
    color: #464646;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0
}

body:focus {
    outline: 0
}

body a {
    color: #730027;
    text-decoration: underline
}

body ul {
    list-style-type: square
}

body input {
    margin: 0;
    padding: 1px
}

body img {
    border: 0;
    margin: 0
}

body fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

body p {
    border: 0;
    margin: 0;
    padding: 0
}

form {
    margin: 0
}

.clear {
    clear: both
}

.breadcrumb {
    font: 1.2em Helvetica, Arial, sans-serif;
    padding: 1.1em 0 .6em 10px;
    color: #8f8c80
}

.breadcrumb a {
    color: #5c5a54
}

.breadcrumb a:hover {
    color: #2d2d2a
}

.error {
    background: #fffbf0;
    border: 1px solid #999;
    clear: both;
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin: 8px 0 0 0;
    padding: 6px 6px 12px 6px;
    text-align: left
}

.error a {
    text-decoration: underline
}

.message_description {
    color: #666
}

#added_to_registry {
    color: #4b960f
}

.error .leftcorner {
    background: url('/media/images/StaticContent/global/borderTL.gif') no-repeat;
    display: inline;
    float: left;
    height: 14px;
    margin: -7px 0 0 -7px;
    width: 14px
}

.error .rightcorner {
    background: url('/media/images/StaticContent/global/borderTR.gif') no-repeat;
    display: inline;
    float: right;
    height: 14px;
    margin: -7px;
    width: 14px
}

.error .icon {
    clear: right;
    float: left;
    margin-left: -7px
}

.error .message {
    clear: right;
    float: left;
    margin: 6px 0 0 6px
}

.erroritem {
    background: #ffe5e5 none repeat scroll 0 0;
    border: 1px solid #F00;
    color: black;
    font-weight: bold;
    margin: 0 20px 5px 0;
    padding: 2px 0 2px 10px;
    text-align: left
}

.quantity_error {
    background: #ffe5e5 none repeat scroll 0 0;
    border: 1px solid #f00;
    clear: right;
    color: black;
    float: left;
    font-weight: bold;
    margin-left: -2px;
    margin-top: 7px;
    padding: 3px 0 4px 0;
    text-align: center;
    width: 105px
}

.frame {
    margin: 0 auto;
    width: 985px;
    z-index: 1
}

.cartbar {
    background: url('/media/images/StaticContent/global/equitybar_bg.gif') no-repeat;
    height: 32px;
    text-align: left
}

.topnav .equity {
    display: block;
    overflow: hidden;
    width: 547px
}

.searchframe {
    clear: both;
    display: inline;
    float: left;
    width: 785px
}

.bigframe {
    background: #FFF url('/media/images/StaticContent/global/searchframe_bg.gif') repeat-y;
    clear: both;
    display: inline;
    float: left;
    padding-bottom: 20px;
    width: 785px
}

.searchbar {
    background: #FFF;
    font-size: 18px;
    padding: 10px 10px 0 15px
}

.searchbar h1 {
    font-size: 21px;
    font-weight: normal
}

.searchbar strong {
    font-weight: bold
}

.searchbar a {
    font-weight: bold
}

.searchbar .suggestion {
    font-size: 12px
}

.searchbar .suggestion a {
    color: #464646
}

.added_refinements {
    background: #fff;
    font-size: 11px;
    padding: 12px 0 12px 166px
}

.added_refinements a {
    margin-left: 5px
}

.refinement {
    background: #FFF url(/media/images/StaticContent/global/refinement_arrow.gif) no-repeat left;
    margin: 0;
    padding-left: 10px
}

.refinement .term {
    font-weight: bold
}

.refinebar {
    clear: right;
    float: left;
    height: auto;
    width: 166px
}

.noresultrefine {
    height: 300px
}

.titlebar {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px
}

.refine_menu {
    background: #FFF url(/media/images/StaticContent/global/refine_bg.jpg) top repeat-x;
    padding: 5px 10px 10px 15px
}

.refine_menu .header {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px
}

.refine_menu a {
    display: block
}

.refine_menu .selected {
    border: 1px solid #CCC;
    color: #666;
    font-weight: bold;
    margin: 2px 2px 2px -3px;
    padding: 1px 1px 1px 2px
}

.refine_menu a span {
    color: #999;
    font-weight: normal;
    margin-left: 5px
}

.equity_special_asst {
    background: #FFF url(/media/images/StaticContent/global/breadcrumb_div.gif) bottom right repeat-x;
    font-size: 11px;
    font-weight: bold;
    padding: 0 0 10px 10px
}

.equity_special_asst a {
    margin-left: -10px
}

.productdisplay {
    clear: right;
    float: left;
    margin-left: 11px;
    width: 816px
}

.productdisplaysearch {
    clear: right;
    float: left;
    margin-left: 11px
}

.productdisplaysearch_seo {
    clear: right;
    float: left;
    margin-left: 11px;
    width: 600px
}

.sortbar {
    padding: 11px 0 0 0;
    text-align: right;
    width: 100%
}

.sortview {
    margin-right: 10px
}

.sortbar_guided {
    height: 33px;
    padding: 11px 0 0 0;
    text-align: right;
    width: 813px
}

.sortresults {
    float: left;
    margin: 0 0 0 15px
}

.view {
    margin: 5px 10px 0 0
}

.view a {
    font-weight: bold;
    margin-left: 3px
}

.view .divider {
    color: #e5e5e5
}

.view .active {
    background: #edede7;
    color: #666;
    font-weight: bold;
    padding: 1px 4px 1px 4px
}

.guidednav {
    background: #FFF url('/media/images/StaticContent/global/guidedbg.gif') no-repeat;
    font-weight: bold;
    height: 40px;
    margin: 0 0 0 3px;
    padding: 0 0 0 10px;
    width: 803px
}

.guidednav .refine {
    clear: right;
    float: left;
    margin: 12px 3px 0 0
}

.guidednav .closed {
    border: 1px solid #ccc;
    clear: right;
    color: #666;
    display: block;
    float: left;
    line-height: 20px;
    margin: 8px 0 0 5px;
    padding: 0 7px 0 7px;
    position: relative;
    z-index: 1000
}

.guidednav .open {
    background: #e9f6df;
    border: 1px solid #ccc;
    border-bottom: 1px solid #e9f6df;
    clear: right;
    color: #666;
    display: block;
    float: left;
    height: 26px;
    line-height: 20px;
    margin: 8px 0 -1px 5px;
    padding: 0 7px 0 7px;
    position: relative;
    z-index: 1000
}

.guidednav a span {
    color: #8b8754
}

.guidednav .active {
    font-weight: normal
}

.size_refine {
    background: #e9f6df;
    border: 1px solid #ccc;
    clear: both;
    line-height: 30px;
    margin: -5px 0 0 4px;
    padding: 5px 10px 2px 5px;
    width: 794px
}

.size_refine a div {
    clear: right;
    float: left
}

.size_refine a img {
    float: left
}

.size_refine a {
    color: #666;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 0 3px 3px 0;
    padding: 0 0 0 15px;
    text-decoration: none;
    white-space: nowrap
}

.size_refine a:hover {
    cursor: pointer;
    text-decoration: underline
}

.size_refine .on {
    background: url('/media/images/StaticContent/global/refineitem_bg_left.gif')
}

.size_refine .on .container {
    background: url('/media/images/StaticContent/global/refineitem_bg_right.gif');
    height: 20px;
    width: 15px
}

.bbheader {
    background: #FFF;
    border: 0;
    margin-bottom: 15px;
    padding: 0;
    width: 580px
}

.featuredproduct {
    background: #edede7;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
    width: 550px
}

.featuredproduct .productphoto {
    border: 1px solid #e5e5e5;
    clear: right;
    float: left
}

.featuredproduct .content {
    clear: right;
    float: left;
    padding: 3px 0 0 15px;
    width: 310px
}

.featuredproduct .title {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0 5px 0
}

.featuredproduct .oprice {
    margin: 0
}

.featuredproduct .sprice {
    color: #c00;
    font-weight: bold;
    margin: 0 0 10px 0
}

.featuredproduct .valueadd1 {
    display: block;clear: both;margin-top: 7px;
}

.noresults {
    background: #fff;
    min-height: 465px
}

.noresults h2 {
    clear: both;
    color: #464646;
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 5px 0
}

.noresults h3 {
    color: #464646;
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 5px 0
}

.noresults a {
    color: #464646;
    font-weight: bold
}

.noresults li {
    font-size: 12px;
    line-height: 20px;
    list-style-type: disc;
    margin: 0 0 0 15px
}

.noresults .header {
    font-size: 14px;
    font-weight: bold
}

.let-us-help h2, .gift-cards h2 {
    clear: both;
    padding: 30px 0 5px 0
}

.more-help {
    float: left;
    margin: 0 0 0 10px;
    width: 280px
}

.egift-cards li {
    display: inline;
    list-style-type: none;
    margin: 0 3px 30px 0
}

.egift-cards li img {
    padding: 5px 0 0 0;
    width: 130px;
    height: 110px
}

.bbnoresults {
    padding: 30px 0 100px 0
}

.bbnoresults .header {
    font-size: 14px;
    font-weight: bold
}

.bbnoresults img {
    margin-bottom: 10px
}

.products {
    margin: 10px 0 0 10px;
    overflow: auto
}

.products_guided {
    clear: both;
    padding: 10px 0 0 15px;
    width: 800px
}

.productitem {
    float: left;
    font-size: 11px;
    margin: 0 10px 18px 0
}

.productitem .productphoto {
    background: #555;
    border: 1px solid #e5e5e5;
    display: block;
    height: 180px;
    margin: 0 0 5px 0;
    width: 180px
}

.productitem .productphoto:hover {
    border: 1px solid #8b8754
}

.productitem .title {
    color: #8b8754;
    display: block;
    font-size: 10px;
    margin: 0 0 3px 0;
    width: 180px
}

.productitem .oprice {
    clear: both;
    font-size: 10px;
    margin: 0
}

.productitem .sprice {
    clear: both;
    color: #c00;
    font-size: 10px;
    font-weight: bold;
}

.productitem p {
    margin: 0
}

.sprice {
    width: 182px
}

.productitem .valueadd1 {
    clear: both;
    display: block;
    margin: 7px 0 0 0
}

.bonusbuyitem {
    clear: right;
    float: left;
    font-size: 11px;
    margin: 0 13px 18px 0
}

.bonusbuyitem .productphoto {
    background: #555;
    border: 1px solid #e5e5e5;
    display: block;
    height: 180px;
    margin: 0 0 5px 0;
    width: 180px
}

.bonusbuyitem .promo {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 3px 0;
    width: 180px
}

.bonusbuyitem .title {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 3px 0;
    width: 180px
}

.relatedframe {
    background: #FFF url('/media/images/StaticContent/global/cross_bg_shadow.jpg') left repeat-y;
    clear: right;
    display: inline;
    float: left;
    padding: 0;
    width: 190px
}

.relatedtopics {
    background: #FFF url('/media/images/StaticContent/global/cross_bg_top_shadow.jpg') left repeat-y;
    padding: 23px 10px 24px 15px
}

.relatedtopics .header {
    font-weight: bold
}

.relatedtopics a {
    color: #464646;
    display: block;
    padding-top: 3px
}

.relatedtopics li {
    list-style-type: disc;
    margin: 0 0 0 15px
}

.xsell {
    background: #FFF;
    border-left: none;
    border-right: 0;
    width: 180px;
    margin: 0;
    padding: 0;
}

.xsell .header {
    color: #464646;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.xsell img {
    border: 1px solid #dadada;
    clear: right;
    float: none;
    margin-top: 10px;
}

.xsell .assortment {
    margin-top: 0
}

.xsell .assortment span {
    font-weight: bold
}

.xsell .assortment img {
    border: 0;
    clear: none;
    display: inline;
    float: none;
    margin: 0
}

.xsell .assortmentbreak {
    border-bottom: 1px solid #dadada
}

.xsell .info {
    clear: right;
    float: none;
    margin: 0 0 -2px;
    padding: 0;
    width: auto;
    display: block;
}

.xsell .original {
    color: #989898;
    font-size: 10px;
    padding-top: 10px;
    margin-top: -5px;
}

.xsell .sale {
    color: #7e2d3e;
    font-size: 10px;
    font-weight: bold
}

#sale_alerts label {
    clear: both;
    display: block;
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 15px 0 5px 0;
    text-align: right;
    width: 190px
}

#sale_alerts label em {
    color: red;
    margin: 0 3px
}

.titlebar {
    clear: both;
    margin: 10px 0 10px 0;
    padding: 10px;
    text-align: right
}

.titlebar .title {
    float: left
}

#sale_alerts .input-box {
    background: #fff;
    border: #ccc solid 1px;
    color: #26a;
    height: 20px;
    line-height: 20px;
    margin: 15px 0 0 0;
    width: 190px
}

.leftcart {
    clear: right;
    float: left;
    padding-left: 10px;
    width: 738px
}

#sale_alerts .signin {
    width: 397px
}

.addtolist {
    float: right;
    margin: 10px 0 20px 0
}

.header {
    clear: both;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px
}

.backtoshopping {
    margin: 20px 0 20px 0
}

.results_info {
    float: left;
    font-size: 12px;
    padding-right: 10px;
    text-align: right
}

.results {
    float: left;
    font-size: 12px;
    margin-bottom: 10px
}

.submit-button {
    border: 0;
    margin: 0;
    padding: 0
}

#checkbalance {
    margin-top: 20px
}

.carthalf {
    clear: right;
    float: left;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 344px
}

.signin .input-box {
    float: none;
    width: 265px
}

.input-box {
    background: #fff;
    border: #ccc solid 1px;
    color: #26a;
    height: 20px;
    line-height: 20px;
    margin: 2px;
    width: 190px
}

.subheader {
    clear: both;
    font-size: 10px;
    font-weight: normal
}

.shoppingbag_button {
    float: left
}

.blank_tt {
    display: none
}

.invalid_tt {
    color: #b22222;
    font-weight: bold
}

.required_tt {
    color: #903;
    font-weight: bold;
    margin: 0 5px 0 0;
    vertical-align: baseline
}

.topnav form {
    display: inline
}

.carthalf_unsubscribe {
    clear: right;
    float: left;
    margin: 0 0 10px 0;
    padding: 10px
}

#sale_alerts .carthalf_unsubscribe label {
    height: auto;
    text-align: left
}

#sale_alerts .carthalf_unsubscribe LABEL INPUT {
    margin: 0 5px 0 40px;
    padding-left: 5px
}

#sale_alerts .carthalf_unsubscribe .input-box {
    background: #fff;
    border-bottom: #ccc 3px solid;
    border-left: #ccc 1px solid;
    border-top: #ccc 1px solid;
    color: #26a;
    margin: 15px 0 0;
    width: 190px
}

#sale_alerts .carthalf_unsubscribe .input-box {
    width: 150px
}

.bbheader h1 {
    font-size: 12px;
    margin: 0;
    padding: 10px 0
}

.view {
    float: right
}

.productdisplay .sortbar .view {
    float: none
}

.productdisplaysearch .sortbar .view {
    float: none
}

#skip {
    left: -9999px;
    position: absolute
}

#charges li span {
    font-weight: bold;
    margin: 0 20px 0 0
}

#charges li {
    line-height: 20px
}

#shopping-bag .odd {
    background: #e9ecdd
}

#shopping-bag .even {
    background: #f3f3ee
}

#shopping-bag td {
    border: 1px solid #fff;
    padding: 10px 10px 0 10px
}

td.prod-actions, .prod-actions, #charge-container {
    text-align: right
}

#charge-container {
    background: #e9ecdd;
    border-top: 1px dashed #999;
    display: inline;
    margin: 0 auto;
    padding: 10px;
    width: 908px
}

td.prod-actions li {
    font-size: .9em
}

.prod-quantity {
    text-align: center
}

.prod-quantity .button-container {
    float: none;
    text-align: center
}

.prod-quantity input {
    width: 20px
}

.item-thumb {
    border: 1px solid #999;
    float: left;
    margin: 0 10px 10px 10px;
    width: 60px
}

.customer-options-bar a, .save-bag {
    float: left
}

table, #shopping_cart_form {
    clear: both;
    margin: 0 auto;
    width: 928px
}

#item-quantity-one, #item-quantity {
    width: 20px
}

.update-quantity {
    font-size: .9em
}

.update-quantity, .save-bag, .update-quantity span, .save-bag span, .prod-actions a {
    background: 0;
    border: 0;
    color: blue;
    font-weight: normal;
    line-height: normal;
    padding: 0;
    text-decoration: underline
}

.customer-options-bar {
    clear: both;
    margin: 0 auto;
    width: 928px
}

.customer-options-bar a {
    color: blue;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 0 25px 0 0
}

.update-quantity {
    font-size: .9em
}

.bag-bar th {
    background: #256859 url(/media/images/StaticContent/checkout/green-striped-background.png);
    border: 1px solid #fff;
    color: #fff;
    height: 24px;
    line-height: 23px;
    padding: 0 10px 0 10px
}

.options-one {
    float: right;
    text-align: right
}

.options-one .button-container {
    margin: 25px 0 0 0
}

.customer-options-bar .button-container {
    float: right;
    width: 150px
}

.verisign {
    float: right
}

.options-two {
    clear: both;
    position: relative;
    top: -10px
}

.options-two a {
    font-size: 1.1em;
    line-height: 18px
}

.options-two .button-container {
    float: left
}

*html #shopping-bag-heading span {
    height: 30px
}

#shopping-bag-heading span {
    background: url(/media/images/StaticContent/checkout/your-shopping-bag.png) no-repeat;
    height: 100%;
    position: absolute;
    width: 100%
}

#shopping-bag-heading {
    height: 30px;
    position: relative;
    top: 35px
}

h1#shopping-bag-heading {
    display: inline;
    float: left;
    margin: 30px 0 0 30px;
    width: 220px
}

#checkout-assistance {
    float: right;
    margin: 30px 30px 0 0;
    text-align: right
}

#checkout-assistance li {
    display: inline
}

#checkout-assistance li a {
    margin: 0 0 0 10px;
    text-transform: capitalize
}

.do-not-display {
    display: none
}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -500px;
    width: 1px
}

.select-hidden {
    visibility: hidden
}

body li#phone-help a, #phone-help {
    margin: 0 0 0 5px;
    text-decoration: none
}

.gift-wrap {
    background: #d0d8c8 url('/media/images/StaticContent/checkout/gift-icon.png') no-repeat;
    background-position: 4%;
    margin: 8px 0 0 0;
    padding: 7px 5px 5px 0
}

td.prod-actions {
    width: 150px
}

li.gift-wrap label {
    color: blue;
    text-decoration: underline
}

#charge-container #total {
    background: #256859 url('/media/images/StaticContent/checkout/green-background.gif') repeat;
    color: #fff;
    float: right;
    font-size: 1.4em;
    font-weight: bold;
    height: 21px;
    margin: 10px 0;
    width: 300px
}

#charge-container {
    float: right;
    margin: 0 30px 0 0
}

.prod-description ul {
    display: inline;
    width: 300px
}

.surcharge, .gift-wrap {
    font-size: smaller;
    white-space: nowrap
}

.sale-price {
    color: #c00000;
    font-weight: bolder
}

#content div.bag {
    clear: both;
    padding-left: 50px;
    padding-top: 60px;
    width: auto
}

#progress-bar li.completed {
    background: transparent url('../images/StaticContent/checkout/indicator-complete.gif') no-repeat scroll center 20px
}

#progress-bar li {
    background: transparent url('../images/StaticContent/checkout/indicator.gif') no-repeat scroll center 20px;
    float: left;
    height: 35px;
    margin: 0 0 0 15px;
    position: relative;
    top: 13px
}

#progress-bar li.active {
    background: transparent url('../images/StaticContent/checkout/indicator-active.gif') no-repeat scroll center 20px;
    display: inline;
    height: 35px;
    margin: 0 0 0 15px;
    position: relative;
    top: 13px
}

ul#progress-bar {
    border-bottom: 1px solid #000;
    float: right;
    padding: 0 0 5px 0
}

.rightcart #charge-container, .rightcart #charge-container #total {
    margin: 65px 0 0 0;
    width: 207px
}

.floatleft {
    clear: right;
    float: left
}

.leftcart {
    clear: none;
    float: left;
    padding-left: 10px;
    width: 738px
}

.titlebar {
    clear: both;
    margin: 10px 0 10px 0;
    padding: 10px;
    text-align: right
}

.titlebar .title img {
    height: 0
}

table {
    clear: none;
    margin: 0;
    width: 100%
}

table table {
    width: auto
}

.titlebar .title {
    float: left
}

.titlebar .ordersum {
    float: left;
    font-size: 16px;
    font-weight: bold
}

.bag .continuearea {
    height: 32px
}

.ordertop {
    background: #dcdcdc url('/media/images/StaticContent/checkout/ordercap_top.gif') top no-repeat;
    color: #333;
    font-size: 11px;
    padding: 10px;
    width: 718px
}

.rightcart {
    background: #fff;
    clear: right;
    float: left;
    padding-left: 10px;
    width: 227px
}

.rightcart .lineitem {
    clear: both;
    color: #333;
    font-size: 10px;
    line-height: 15px;
    padding: 0 10px 0 10px;
    text-align: right
}

.rightcart .lineitem span {
    float: left;
    font-weight: bold
}

.rightcart .lineitem span img {
    margin: 0 3px -3px 0
}

.rightcart #subtotal {
    margin: 7px 0 10px 0
}

.rightcart .helptopics {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    display: inline-block;
    padding: 10px 0 10px 0;
    width: 100%
}

.rightcart .topics {
    background: #f6f6f1;
    padding: 1px 10px 1px 10px
}

.rightcart .header {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px 10px
}

.rightcart .call {
    font-size: 12px;
    margin: 10px 0 0 10px
}

.rightcart .call span {
    font-size: 10px;
    font-weight: bold
}

.rightcart .helptopics ul {
    font-weight: bold;
    margin-left: 0;
    padding-left: 15px
}

.rightcart .verisign {
    margin: 10px 0 10px 10px
}

.shopping_text {
    margin: 0 10px 10px 10px;
    position: relative;
    text-align: center
}

.cardleft {
    background-color: #FFF;
    border: 1px #666 solid;
    clear: right;
    float: left;
    height: 150px;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 280px
}

.cardright {
    background-color: #FFF;
    border: 1px #666 solid;
    clear: right;
    float: left;
    height: 150px;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 280px
}

h3 {
    font-size: 12px;
    font-weight: bold
}

h2 {
    color: #7e2d3e;
    font-size: 12px;
    font-weight: bold
}

.product_vgc {
    background: #f6f6f1 url('/media/images/StaticContent/cart/topgradient_shaded.gif') top left repeat-x;
    border-bottom: 1px solid #cfcfce;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    padding: 40px;
    position: relative
}

.required:first-letter {
    color: red;
    font-weight: bold
}

.required:first-letter {
    color: red;
    font-weight: bold
}

.label2 {
    clear: both;
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 10px 5px 9px 3px;
    padding: 1px;
    text-align: right;
    width: 245px
}

div.formdiv {
    margin-top: 10px
}

.textarea {
    background: #fff;
    border: #ccc solid 1px;
    color: #26a;
    height: 50px;
    line-height: 20px;
    margin: 2px;
    width: 190px
}

#messageinfo {
    clear: right;
    float: left;
    padding-left: 4px;
    width: 200px
}

p.checkout {
    height: 35px;
    padding-bottom: 20px;
    padding-top: 10px
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0
}

.message {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px
}

.disclaimer {
    color: #666;
    padding-left: 5px
}

.cardlabel {
    font-weight: bold;
    text-align: right
}

.cardinfo {
    height: 30px;
    padding-left: 5px;
    text-align: left
}

.editbutton {
    background: #fff;
    border: 1px solid #7e2d3e;
    color: #7e2d3e;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 3px 5px;
    text-align: center
}

.ecard_container p {
    text-align: left;
}

.ecard_container {
    float: left;
    width: 240px
}

/* Small Demand Feb release changes */
#card-image-vgc {
    float: left;
	height:350px
}

.ecard_image {
    display: table-cell;
    vertical-align: middle;
    width: 175px;
}
.ecard_image * {
    vertical-align: middle;
}
.ecard_image {
    display: block;
}
.ecard_image span {
    display: inline-block;
    height: 100%;
}

/* End of Small Demand Feb Release Changes */

.leftcart table td p input {
    margin: 0 0 0 250px;
    text-align: center
}

.leftcart table td p {
    text-align: left
}

#card-image-vgc img {
    display: block;
    margin: 0 30px 0 30px
}

#error {
    background: #ffe5e5 none repeat scroll 0 0;
    border: 1px solid #f00;
    clear: both;
    font-weight: bold;
    margin: 0 0 25px 0;
    padding: 10px
}

#error li a {
    color: black;
    cursor: default;
    text-decoration: none
}

#error li a:hover {
    background-color: transparent;
    cursor: default;
    text-decoration: none
}

#error ol {
    list-style-type: decimal;
    margin: 0 0 0 50px
}

#error p {
    background: #ffe5e5 url('../images/StaticContent/checkout/error-icon.png') no-repeat scroll 5px 0;
    height: 25px;
    margin: 0 0 10px;
    padding: 0 0 0 30px
}

#sale_alerts .signin {
    padding-top: 10px;
    width: 460px
}

#sale_alerts .input-box {
    margin-top: 7px
}

.bigframe .productdisplay {
    width: auto
}

.leftcart .product_vgc {
    background: #f0f0f0 repeat-x scroll left top;
    border: 1px solid #b3b3b3
}

.leftcart .product_vgc .shopping_text h2 {
    font-size: 20px;
    font-weight: normal
}

.leftcart .product_vgc .shopping_text .cardleft h3, .leftcart .product_vgc .shopping_text .cardright h3 {
    color: #7e2d3e;
    font-size: 13px;
    font-weight: 600
}

.leftcart .product_vgc .shopping_text h3 {
    font-weight: normal;
    padding-bottom: 5px
}

.leftcart .product_vgc .shopping_text .cardleft, .leftcart .product_vgc .shopping_text .cardright {
    height: 200px
}

.leftcart .product_vgc .shopping_text .cardleft p {
    height: auto
}

.leftcart .product_vgc .shopping_text .cardright p {
    height: 35px
}

.leftcart .product_vgc .shopping_text .cardleft img {
    padding-top: 92px
}

.leftcart .product_vgc .shopping_text p.checkout {
    height: auto;
    padding: 10px 0 20px 0
}

.leftcart .product_vgc {
    padding: 20px 40px 30px 40px
}

.extras .bridal {
    background: #b1016e;
    color: #fff
}

.extras .baby {
    background: #6eb33f;
    color: #fff
}

.extras .wishlist {
    background: #0265a6;
    color: #fff
}

#skip-float span {
    float: right
}

#registry_bag {
    width: 200px
}

.hp_wrapper .hpequities_bot ul a span p, .hp_wrapper .hpequities_bot ul li a span p strong {
    color: #730027
}

.hp_wrapper .hpequities_bot ul a:hover span p, .hp_wrapper .hpequities_bot ul li a:hover span p strong {
    color: #730027;
    text-decoration: underline
}

.productdisplay .multifeatures .multifeat .copybox img {
    height: 21px;
    width: 126px
}

#clickDiv {
    cursor: pointer
}

#persistant-nav li, #search-bar-nav li {
    display: inline
}

.kohls-charge-link {
    background: url('/media/images/StaticContent/global/kohls_card.gif') no-repeat;
    background-position: 105px 0;
    margin: 5px 0 20px 0;
    padding: 0 30px 0 0
}

#search-bar-nav li {
    line-height: 35px;
    margin: 0 8px
}

#search-bar-nav {
    float: left;
    position: relative;
    top: 18px
}

#search-bar-nav a {
    color: #f6f6f6
}

#search-bar {
    clear: both;
    float: left;
    margin-top: -65px;
    position: relative;
    top: 10px
}

#logo-bar #search-bar {
    clear: none;
    margin-top: 53px
}

#search-box {
    background: #fff;
    border: #d6d1c4 solid 3px;
    clear: both;
    float: left;
    height: 25px;
    line-height: 0;
    position: relative;
    text-align: right;
    top: -42px;
    right: -200px;
    width: 309px
}

#search-again-box {
    background: #FFF;
    border: #d6d1c4 solid 3px;
    height: 25px;
    position: relative;
    text-align: right;
    width: 309px
}

#search-bar button, #search-again-box button {
    border: 0;
    cursor: pointer;
    font-weight: normal;
    padding: 0 10px 0 0;
    text-align: center
}

#search-bar button.button-green span, #search-again-box button.button-green span {
    margin: 0;
    padding: 0 0 0 10px
}

#search-bar button span, #search-again-box button span {
    white-space: nowrap
}

#container {
    font-size: 1.1em
}

#persistant-nav li a {
    color: #000;
    margin: 0 0 0 10px
}

#persistant-nav {
    padding-right: 9px;
    text-align: right
}

#container {
    margin: 0 auto;
    width: 985px
}

button {
    border: 0;
    cursor: pointer;
    font-weight: bold;
    padding: 0 20px 0 0;
    text-align: center
}

button span {
    display: block;
    padding: 0 0 0 20px;
    white-space: nowrap
}

button {
    overflow: visible;
    width: auto
}

button.button-red {
    background: url('/media/images/StaticContent/global/button-red-right.gif') right no-repeat;
    font-size: 1.3em
}

button.button-red span {
    background: #000 url('/media/images/StaticContent/global/button-red-left.gif') left no-repeat;
    color: #fff;
    height: 30px;
    line-height: 30px
}

button.button-red:hover {
    background: url('/media/images/StaticContent/global/button-red-right-hover.gif') right no-repeat
}

button.button-red:hover span {
    background: url('/media/images/StaticContent/global/button-red-left-hover.gif') left no-repeat
}

button.button-green {
    background: url('/media/images/StaticContent/global/button-green-right.gif') right no-repeat
}

button.button-green span {
    background: #000 url('/media/images/StaticContent/global/button-green-left.gif') left no-repeat;
    color: #fff;
    line-height: 20px
}

button.button-green:hover {
    background: url('/media/images/StaticContent/global/button-green-right-hover.gif') right no-repeat
}

button.button-green:hover span {
    background: url('/media/images/StaticContent/global/button-green-left-hover.gif') left no-repeat
}

#search-box button.button-green, #search-again-box button.button-green {
    background: url(/media/images/StaticContent/global/search-button-holiday.png) no-repeat
}

#search-box button.button-green span, #search-again-box button.button-green span {
    background: 0;
    color: #fff;
    display: block;
    left: 7px;
    line-height: 20px;
    margin: -4px 0 0 10px;
    padding: 0;
    position: relative
}

*html #search-box button.button-green span, *html #search-again-box button.button-green span {
    top: 4px
}

#search-box button.button-green:hover, #search-again-box button.button-green:hover {
    background: url(/media/images/StaticContent/global/search-button-holiday.png) no-repeat
}

#search-box button.button-green:hover span, #search-again-box button.button-green:hover span {
    background: 0
}

#searchbox {
    background: 0;
    border: 0;
    padding: 5px
}

#search-box input, #search-again-box input {
    float: left;
    font-size: 1.1em;
    margin: 2px 0 0 0;
    text-transform: lowercase;
    width: 170px
}

#search-box button, #search-again-box button {
    height: 25px;
    margin: 0;
    position: relative;
    right: 0;
    top: 0
}

*html #search-box button {
    top: 3px
}

#equity-bar {
    clear: both;
    height: 69px
}

#equity-bar a {
    float: left
}

#equity-bar a img {
    display: block
}

.hidden, fieldset#search-box label, fieldset#search-again-box label {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -500px;
    width: 1px
}

.frame {
    margin: 0 auto;
    width: 985px
}

#logo-bar {
    overflow: visible;
    position: relative;
    z-index: 3000
}

#logo {
    float: left;
    margin: 12px 0 0 0;
    position: absolute
}

.cartpop {
    visibility: hidden
}

.cartpop {
    border: 3px solid #3d9481;
    font-size: 9px;
    position: absolute;
    right: 10px;
    top: 25px;
    width: 320px;
    z-index: 10000
}

.itemsadd {
    background: #fff;
    border-top: 2px solid #3d9481;
    color: #3d9481;
    font-size: 1.6em;
    font-weight: bold;
    margin: 100px 0 0 0;
    padding: 10px
}

.pname {
    color: #730027
}

.bag-info {
    background: #fff;
    clear: both;
    font-size: 1.2em;
    padding: 10px 0 10px 10px
}

.bag-close {
    clear: both;
    float: right;
    height: 25px
}

.bag-close a {
    background: #fff;
    border: 1px solid #730027;
    padding: 5px
}

.bag-close img {
    display: none
}

.image {
    float: left;
    height: 62px;
    width: 55px
}

.info {
    font-weight: bold
}

#price {
    color: #730027;
    font-weight: bold
}

.subtotal {
    background: #3d9481;
    float: left;
    line-height: 28px;
    padding: 0 10px 0 10px;
    width: 300px
}

.cartnum {
    color: #fff;
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 25px
}

.cartprice {
    color: #fff;
    float: right;
    font-size: 1.4em;
    font-weight: bold
}

#shopping-bag-link fieldset {
    display: inline
}

h1#shopping-bag-heading {
    clear: both
}

.notification {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    clear: left;
    color: #464646;
    display: inline;
    float: left;
    margin: 0 20px 0 28px;
    padding: 8px 14px;
    position: relative;
    top: 42px;
    width: 585px
}

.notification p {
    background: url("/media/images/StaticContent/checkout/information.png") no-repeat;
    color: #464646;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 0 3px 25px;
    width: 575px
}

.session-expired {
    background: #f6f7f1 url("/media/images/StaticContent/global/session-expired-gradient.gif") repeat-x;
    border: 1px solid #d9d9d7;
    margin: 25px 0;
    padding: 25px 0;
    text-align: center
}

.session-expired h1 {
    font: bold 1.9em Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0
}

.session-expired p {
    font: normal 1.2em Verdana, Arial, Helvetica, sans-serif;
    margin: 0 0 20px 0
}

.session-expired ul {
    display: inline-block
}

* html .session-expired ul {
    display: inline
}

*+html .session-expired ul {
    display: inline
}

.session-expired .buttons li, .session-expired ul li {
    float: left;
    width: 225px
}

.session-expired .buttons a, .session-expired ul a {
    background: url("/media/images/StaticContent/global/button-red-right.gif") no-repeat scroll right center transparent;
    display: block;
    font-size: 1.3em;
    padding: 0 20px 0 0;
    text-decoration: none;
    width: 195px
}

.session-expired .buttons a span, .session-expired ul a span {
    background: url("/media/images/StaticContent/global/button-red-left.gif") no-repeat scroll left center #7e2d3e;
    color: #FFF;
    cursor: pointer;
    display: block;
    height: 30px;
    letter-spacing: .01em;
    line-height: 30px;
    padding: 0 0 0 20px
}

.session-expired .buttons a:hover, .session-expired ul a:hover {
    background: url("/media/images/StaticContent/global//button-red-right-hover.gif") no-repeat scroll right center transparent
}

.session-expired .buttons a:hover span, .session-expired ul a:hover span {
    background: url("/media/images/StaticContent/global//button-red-left-hover.gif") no-repeat scroll left center #3d9481
}

#checkout-assistance {
    white-space: nowrap
}

#search-form #searchbox {
    width: 225px
}

#navigation {
    float: left;
    width: 985px;
    height: 33px;
    margin: 11px 0 12px 0
}

#navigation .nav-list-item {
    float: left;
    position: relative;
    padding: 6px 0;
    z-index: 2000;
    background: transparent url('/media/images/StaticContent/navigation/webStore/top/overlay-backer.gif') no-repeat 999em 0
}

#navigation .nav-link {
    font: 17px Helvetica, Arial, sans-serif;
    padding: 6px 0.5em;  /* lowered to accommodate additional departments - 10/19/11 CM */
    text-decoration: none;
    text-transform: lowercase
}

#navigation .item11 .nav-link {
    color: #e33
}

#navigation .nav-overlay {
    font: 1.0833em Helvetica, Arial, sans-serif;
    background: #eae7e4 url('/media/images/StaticContent/navigation/webStore/top/overlay-backer.gif') repeat-x;
    display: none
}

#navigation .no-js .nav-list-item:hover, #navigation .nav-list-item.hover {
    z-index: 1900;
    background-color: #fff;
    border-top: 5px solid #8a8881;
    margin-top: -5px;
    margin-left: -1px;
    margin-right: -1px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4)
}

#navigation .no-js .nav-list-item:hover .nav-link:focus, #navigation .nav-list-item.hover .nav-link:focus {
    outline: 0
}

#navigation .no-js .nav-list-item:hover .nav-link, #navigation .nav-list-item.hover .nav-link {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD
}

#navigation .no-js .nav-list-item:hover .nav-overlay, #navigation .nav-list-item.hover .nav-overlay {
    display: block;
    position: absolute;
    top: 31px;
    max-width: 985px;
    overflow: hidden;
    z-index: 2000;
    padding: 15px 0;
    border-bottom: 1px solid #999;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4)
}

#navigation .nav-overlay {
    left: 0
}

#navigation .item7 .nav-overlay, #navigation .item8 .nav-overlay, #navigation .item9 .nav-overlay, #navigation .item10 .nav-overlay {
    left: auto;
    right: 0
}

.nav-overlay .column {
    width: 149px;
    float: left;
    display: block;
    border-right: 1px solid #ccc
}

.columns2 {
    width: 300px
}

.columns3 {
    width: 450px
}

.columns4 {
    width: 600px
}

.columns5 {
    width: 750px
}

.columns6 {
    width: 900px
}

.columns1 .col1, .columns2 .col2, .columns3 .col3, .columns4 .col4, .columns5 .col5, .columns6 .col6 {
    border-right: 0
}

#navigation .header-group {
    padding: 0 5px 0 10px;
    margin-bottom: .375em
}

#navigation .header-group a {
    text-decoration: none
}

#navigation .header-group a:hover {
    text-decoration: underline;
    color: #2d2d2a
}

#navigation .header-group h3 {
    color: #616161;
    line-height: 15px;
    padding: 0 0 0 1.5em;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    background: 0
}

#navigation .header-group h3 a {
    display: block;
    margin: 0 0 0 -1.5em;
    padding: 0 0 0 1.5em;
    background: transparent url('/media/images/StaticContent/navigation/webStore/top/top-nav-header-arrow.gif') 0 -9px no-repeat
}

#navigation .header-group .level1 {
    font-size: 1.0em;
    padding: .15em 0 0 0;
    margin-bottom: .75em
}

#navigation .header-group .level1 li {
    line-height: 1em;
    padding: .2em 0 .2em 1.2em;
    margin-left: .4em;
    background: transparent url('/media/images/StaticContent/navigation/webStore/top/top-nav-arrow.gif') no-repeat 0 4px
}

#mini-cart {
    background: url('/media/images/StaticContent/global/bag-backer.png') no-repeat scroll 0 0 transparent;
    clear: both;
    float: right;
    height: 31px;
    margin: 15px 0 0 0;
    width: 341px
}

#added-to-bag-links a {
    color: #fff;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    line-height: 29px;
    padding-right: 25px;
    text-align: right;
    text-decoration: none;
    text-transform: lowercase;
    width: 180px
}

#shopping-bag-link a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    line-height: 29px;
    padding-left: 26px;
    text-decoration: none;
    text-transform: lowercase;
    width: 100px
}

*html #search-form #searchbox {
    width: 235px
}

#search-box .input {
    text-transform: lowercase;
    width: 170px
}

#logo {
    margin: 0
}

#header {
    height: 100%;
    margin: 10px 0 0 0
}

#persistant-nav {
    color: #616161;
    float: right;
    text-transform: lowercase
}

#search-bar-nav a, #navigation li a {
    color: #616161
}

#search-bar-nav {
    top: 30px
}

#search-bar-nav li {
    margin: 0 12px 0 0/*0 15px 0 0 -- DN 2012.01.06 */;
}

#search-bar-nav a {
    text-decoration: none;
    text-transform: lowercase
}

#search-bar-nav a#todays-deals{
	color:#EE3333;	
}

body #persistant-nav li a {
    text-decoration: none
}

#shopping-bag-heading span {
    background: 0
}

h1#shopping-bag-heading {
    font-size: 16px;
    font-weight: bold
}

#search-bar-nav a:hover, #added-to-bag-links a:hover, #shopping-bag-link a:hover, body #persistant-nav li a:hover {
    text-decoration: underline
}

#frame {
    background: #fff
}

.bottomnav {
    width: 985px;
    text-align: center;
    margin: 0 auto
}

.bottomnav .content {
    margin: 0 auto;
    text-align: center;
    width: 985px;
    background: #f1f0ec
}

.bottomnav .content #first.group {
    clear: both;
    margin: 0 auto;
    float: left;
    width: 985px
}

.bottomnav .content .group {
    float: left;
    height: 30px;
    line-height: 30px;
    background: url('/media/images/StaticContent/flash/Background/201006/divisionline.gif') no-repeat
}

.bottomnav .content #first.group {
    margin-top: 30px
}

.bottomnav .content .group a {
    color: gray;
    display: block;
    text-decoration: none;
    background: url('/media/images/StaticContent/global/nav-pipe.gif') no-repeat scroll 0 center;
    background-position: center right;
    float: left;
    padding: 0 19px
}

.bottomnav .content #first.group a {
    color: gray;
    margin: 0 auto;
    text-align: center;
    float: none;
    display: inline;
    width: 109px;
    padding: 0 25px
}

.bottomnav .content #first.group a.email-alerts {
    color: #6d7815;
    font-weight: bold
}

.disclaimer {
    clear: both;
    font-size: 9px
}

.productdisplay .view {
    clear: left;
    width: auto;
    text-align: right;
    float: left;
    width: 805px
}

.productdisplay .sortbar span.view {
    clear: none;
    float: right;
    width: auto;
    text-align: left
}

.bottomnav .content div.group {
    padding-left: 48px
}

.bottomnav .content #first.group {
    padding-left: 0
}

.sortbar {
    text-align: left;
    width: 803px
}

span.sortview {
    padding-left: 228px;
    clear: none;
    float: left
}

.productdisplay .sortbar span.view {
    text-align: right;
    float: right
}

.productdisplay .view {
    width: 787px
}

.bigframe .sortbar {
    text-align: right;
    width: 100%
}

.bigframe span.sortview {
    padding-left: 0;
    clear: none;
    float: none
}

.reviews-notification {
    background: #f6f6f6;
    font-size: 12px;
    color: #464646;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 16px;
    clear: both
}

.reviews-notification p {
    background: url("/media/images/StaticContent/checkout/information.png") no-repeat;
    padding-left: 25px
}

#BVLoaderImage {
    display: block;
    margin: 50px auto
}

#mini-cart {
    background: url('/media/images/StaticContent/global/bag-backer-holiday.png') no-repeat scroll 0 0 transparent
}

#frame.frame_no_results {
    overflow: auto;
    background: 0
}

#frame.frame_no_results h2#dept-title {
    background-color: #fff
}

.xsell_container {
    border: 1px solid #ccc;
    text-align: center;
}
.reviewcount {
    color: #730027;
    float: left;
    margin-left: 5px;
    font-weight: normal;
}
.topcrossbar img { width: 20px }
div.prod-description {
    float: left;
    clear: both;
}
div.ratings-info img {
    border: 0 none;
    width: 75px;
    float: left;
    margin: 0;
}
.ratings-info {
    margin-top: 6px;
    margin-bottom: 12px;
    float: left;
    display: inline;
}
.featuredproduct .ratings-info {
    margin-top: 0px;
    clear: both;
    display: block;
}
.xsell .ratings-info { margin-left: 45px }
.xsell .ratings-info img {
    border: 0 none;
    width: 75px;
}


/* Start style used in YA footer.  Implemented during NSO project. */
#ya-links, #ya-links a { text-align: center; color: #999; clear: both; font-family: Arial,sans-serif; font-size: 11px; }
#ya-links a { text-decoration: none; }
div.ya-expnd2 { width: 810px; margin-left: auto; margin-right: auto; margin-bottom: 11px;}
.ya-expnd2 { display: block; }
.footer-navigation { margin-left: 0; padding-left: 0; list-style-type: none;}
.footer-navigation li { display: inline-block;} /* keeps li together on one line before line break */
.footer-navigation li:after { content: " | "; text-wrap:none }
.footer-navigation li:last-child:after { content: ""; }
/* End style used in YA footer.  Implemented during NSO project. */

/* Overwrite the .lowernav CSS from the homepage.jsp to get footer to align correctly  MB*/
.lowernav {
	float:left;
}
}
